#content {
    margin: 0 auto;
    width: 1100px;
}

.panel {
    float: left; width: 880px;
    margin: 0 auto 10px;
    padding: 10px;
    border: 1px solid #888888;
}

#simulationPanel label {
    width: 180px;
    float: left;
    display: block;
    height: 24px;
}

input[type=range] {
    width: 700px;
    float: right;
    display: block;
    height: 24px;
    position: relative;
    top: -3px;
    margin: 0;
}

#pauseButton {
    width: 160px;
    height: 100px;
    margin-bottom: 25px;
    font-size: 22px;
}

button {
    padding: 5px 10px;
    font-size: 15px;
}

button.active {
    background-color: #0000cc;
    color: #ffffff;
}

.colorBox {
    width: 30px;
    height: 30px;
    float: right;
    margin: 0 10px;
}

.colorBox.active {
    border: 1px solid #ffffff;
    outline: 4px solid #ff0000;
}

#gameTypePanel {
    float: left;
    width: 160px;
    margin-right: 10px;
}

#gameTypePanel .ruleSetButton {
    display: block;
    width: 160px;
    margin-bottom: 5px;
}

#gameTypePanel .ruleSetButton .rule {
    font-size: 11px;
    font-family: monospace;
    display: block;
    margin-top: 2px;
}

#gameTypePanel .ruleSetButton .rule:before {
    content: '(';
}

#gameTypePanel .ruleSetButton .rule:after {
    content: ')';
}

#gameTypePanel input {
    width: 155px;
    display: block;
}

#gameTypePanel label {
    margin-top: 10px;
    display: block;
}

canvas {
    display: block;
    float: left;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #000000;
}
