.panel {
    float: left; width: 880px;
    margin: 0 auto 10px;
    padding: 10px;
    border: 1px solid #888888;
}

#simulationPanel label {
    width: 180px;
    float: left;
    display: block;
    height: 24px;
}

input[type=range] {
    width: 600px;
    float: right;
    display: block;
    height: 24px;
    position: relative;
    top: -3px;
    margin: 0;
}

#pauseButton {
    float: right;
    height: 72px;
    width: 72px;
    margin-left: 15px;
    font-size: 18px;
}

button {
    padding: 5px 10px;
    font-size: 14px;
}

button.active {
    background-color: #0000dd;
    color: #ffffff;
}

#gameTypePanel input {
    width: 100px;
}

canvas {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #000000;
}
